
Event Manager/.vs/Event Manager/v15/.suo
Event Manager/.vs/Event Manager/v15/Server/sqlite3/db.lock
Event Manager/.vs/Event Manager/v15/Server/sqlite3/storage.ide
Event Manager/.vs/Event Manager/v15/Server/sqlite3/storage.ide-shm
Event Manager/.vs/Event Manager/v15/Server/sqlite3/storage.ide-wal
Event Manager/Event Manager.sln
Event Manager/Event Manager/App.config
Event Manager/Event Manager/bin/Debug/Event Manager.exe
Event Manager/Event Manager/bin/Debug/Event Manager.exe.config
Event Manager/Event Manager/bin/Debug/Event Manager.pdb
Event Manager/Event Manager/Event Manager.csproj
Event Manager/Event Manager/Form1.resx
Event Manager/Event Manager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Event Manager/Event Manager/obj/Debug/Event Manager.csproj.CoreCompileInputs.cache
Event Manager/Event Manager/obj/Debug/Event Manager.csproj.FileListAbsolute.txt
Event Manager/Event Manager/obj/Debug/Event Manager.csproj.GenerateResource.cache
Event Manager/Event Manager/obj/Debug/Event Manager.csprojAssemblyReference.cache
Event Manager/Event Manager/obj/Debug/Event Manager.exe
Event Manager/Event Manager/obj/Debug/Event Manager.pdb
Event Manager/Event Manager/obj/Debug/Event_Manager.Form1.resources
Event Manager/Event Manager/obj/Debug/Event_Manager.Properties.Resources.resources
Event Manager/Event Manager/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Event Manager/Event Manager/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Event Manager/Event Manager/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Event Manager/Event Manager/Properties/AssemblyInfo.cs
Event Manager/Event Manager/Properties/Resources.Designer.cs
Event Manager/Event Manager/Properties/Resources.resx
Event Manager/Event Manager/Properties/Settings.Designer.cs
Event Manager/Event Manager/Properties/Settings.settings
