
Event Manager/.vs/Event Manager/v15/.suo
Event Manager/.vs/Event Manager/v15/Server/sqlite3/db.lock
Event Manager/.vs/Event Manager/v15/Server/sqlite3/storage.ide
Event Manager/.vs/Event Manager/v15/Server/sqlite3/storage.ide-shm
Event Manager/.vs/Event Manager/v15/Server/sqlite3/storage.ide-wal
Event Manager/Event Manager.sln
Event Manager/Event Manager/App.config
Event Manager/Event Manager/bin/Debug/Event Manager.exe
Event Manager/Event Manager/bin/Debug/Event Manager.exe.config
Event Manager/Event Manager/bin/Debug/Event Manager.pdb
Event Manager/Event Manager/Event Manager.csproj
Event Manager/Event Manager/Form1.resx
Event Manager/Event Manager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Event Manager/Event Manager/obj/Debug/Event Manager.csproj.CoreCompileInputs.cache
Event Manager/Event Manager/obj/Debug/Event Manager.csproj.FileListAbsolute.txt
Event Manager/Event Manager/obj/Debug/Event Manager.csproj.GenerateResource.cache
Event Manager/Event Manager/obj/Debug/Event Manager.csprojAssemblyReference.cache
Event Manager/Event Manager/obj/Debug/Event Manager.exe
Event Manager/Event Manager/obj/Debug/Event Manager.pdb
Event Manager/Event Manager/obj/Debug/Event_Manager.Form1.resources
Event Manager/Event Manager/obj/Debug/Event_Manager.Properties.Resources.resources
Event Manager/Event Manager/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Event Manager/Event Manager/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Event Manager/Event Manager/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Event Manager/Event Manager/Properties/AssemblyInfo.cs
Event Manager/Event Manager/Properties/Resources.Designer.cs
Event Manager/Event Manager/Properties/Resources.resx
Event Manager/Event Manager/Properties/Settings.Designer.cs
Event Manager/Event Manager/Properties/Settings.settings
Beehive_management_system/.vs/Beehive_management_system/v15/.suo
Beehive_management_system/.vs/Beehive_management_system/v15/Server/sqlite3/db.lock
Beehive_management_system/.vs/Beehive_management_system/v15/Server/sqlite3/storage.ide
Beehive_management_system/.vs/Beehive_management_system/v15/Server/sqlite3/storage.ide-shm
Beehive_management_system/.vs/Beehive_management_system/v15/Server/sqlite3/storage.ide-wal
Beehive_management_system/Beehive_management_system.sln
Beehive_management_system/Beehive_management_system/App.config
Beehive_management_system/Beehive_management_system/Beehive_management_system.csproj
Beehive_management_system/Beehive_management_system/bin/Debug/Beehive_management_system.exe
Beehive_management_system/Beehive_management_system/bin/Debug/Beehive_management_system.exe.config
Beehive_management_system/Beehive_management_system/bin/Debug/Beehive_management_system.pdb
Beehive_management_system/Beehive_management_system/Form1.resx
Beehive_management_system/Beehive_management_system/obj/Debug/Beehive_management_system.csproj.CoreCompileInputs.cache
Beehive_management_system/Beehive_management_system/obj/Debug/Beehive_management_system.csproj.FileListAbsolute.txt
Beehive_management_system/Beehive_management_system/obj/Debug/Beehive_management_system.csproj.GenerateResource.cache
Beehive_management_system/Beehive_management_system/obj/Debug/Beehive_management_system.csprojAssemblyReference.cache
Beehive_management_system/Beehive_management_system/obj/Debug/Beehive_management_system.exe
Beehive_management_system/Beehive_management_system/obj/Debug/Beehive_management_system.Form1.resources
Beehive_management_system/Beehive_management_system/obj/Debug/Beehive_management_system.pdb
Beehive_management_system/Beehive_management_system/obj/Debug/Beehive_management_system.Properties.Resources.resources
Beehive_management_system/Beehive_management_system/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Beehive_management_system/Beehive_management_system/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Beehive_management_system/Beehive_management_system/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Beehive_management_system/Beehive_management_system/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Beehive_management_system/Beehive_management_system/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Beehive_management_system/Beehive_management_system/Properties/AssemblyInfo.cs
Beehive_management_system/Beehive_management_system/Properties/Resources.resx
Beehive_management_system/Beehive_management_system/Properties/Settings.settings
Beehive_management_system/Beehive_management_system/Properties/Resources.Designer.cs
Beehive_management_system/Beehive_management_system/Properties/Settings.Designer.cs
Home/.vs/Home/v15/.suo
Home/.vs/Home/v15/Server/sqlite3/db.lock
Home/.vs/Home/v15/Server/sqlite3/storage.ide
Home/.vs/Home/v15/Server/sqlite3/storage.ide-shm
Home/.vs/Home/v15/Server/sqlite3/storage.ide-wal
Home/Home.sln
Home/Home/App.config
Home/Home/bin/Debug/Home.exe
Home/Home/bin/Debug/Home.exe.config
Home/Home/bin/Debug/Home.pdb
Home/Home/Form1.resx
Home/Home/Home.csproj
Home/Home/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Home/Home/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Home/Home/obj/Debug/Home.csproj.CoreCompileInputs.cache
Home/Home/obj/Debug/Home.csproj.FileListAbsolute.txt
Home/Home/obj/Debug/Home.csproj.GenerateResource.cache
Home/Home/obj/Debug/Home.csprojAssemblyReference.cache
Home/Home/obj/Debug/Home.exe
Home/Home/obj/Debug/Home.Form1.resources
Home/Home/obj/Debug/Home.pdb
Home/Home/obj/Debug/Home.Properties.Resources.resources
Home/Home/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Home/Home/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Home/Home/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Home/Home/Properties/AssemblyInfo.cs
Home/Home/Properties/Resources.Designer.cs
Home/Home/Properties/Resources.resx
Home/Home/Properties/Settings.Designer.cs
Home/Home/Properties/Settings.settings
